<!DOCTYPE html>
<html>
    <head>
        <title>Passport-42</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <% if (typeof user === 'undefined') { %>
        <p>
            <a href="/">Home</a> |
            <a href="/login">Log In</a>
        </p>
        <% } else { %>
        <p>
            <a href="/">Home</a> |
            <a href="/profile">Profile</a> |
            <a href="/logout">Log Out</a>
        </p>
    <% } %>
