<!DOCTYPE html>
<html>
    <head>
        <title>Passport-42</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
