<html>

<head>
  <meta charset="utf-8">
  <title>QR Checker</title>
  <script src="./jsQR.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>42Seoul Cluster</h1>
  <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
  <canvas id="canvas" hidden></canvas>
  <div id="output" hidden>
    <div id="outputMessage" class="direction">Scan your QR Code</div>
  </div>
  <script>
    var video = document.createElement("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");

    function drawSquare(location) {
      drawLine(location.topLeftCorner, location.topRightCorner, "#FF3B58");
      drawLine(location.topRightCorner, location.bottomRightCorner, "#FF3B58");
      drawLine(location.bottomRightCorner, location.bottomLeftCorner, "#FF3B58");
      drawLine(location.bottomLeftCorner, location.topLeftCorner, "#FF3B58");
    }

    function drawLine(begin, end, color) {
      canvas.beginPath();
      canvas.moveTo(begin.x, begin.y);
      canvas.lineTo(end.x, end.y);
      canvas.lineWidth = 4;
      canvas.strokeStyle = color;
      canvas.stroke();
    }

    async function sendData(data) {
      if (data) {
        const response = await fetch('/register', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ data })
        });
        const result = await response.json();
        if (result.success) {
          outputMessage.style = 'color: black';
          outputMessage.innerText = result.message;
        } else {
          outputMessage.style = 'color: red';
          outputMessage.innerText = result.message;
        }
      }
    }

    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "user" } }).then(function (stream) {
      video.srcObject = stream;
      video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
      video.play();
      requestAnimationFrame(tick);
    });

    let lastData = '';
    let active = true;
    let count = 0;
    async function tick() {
      loadingMessage.innerText = "⌛ Loading video..."
      if (video.readyState === video.HAVE_ENOUGH_DATA) {
        canvasElement.height = video.videoHeight;
        canvasElement.width = video.videoWidth;
        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
        var code = jsQR(imageData.data, imageData.width, imageData.height);

        loadingMessage.hidden = true;
        canvasElement.hidden = false;
        outputContainer.hidden = false;
        if (code && code.data) {
          drawSquare(code.location);
          outputMessage.style = 'color: black';
          outputMessage.innerText = code.data;
          if (code.data !== lastData) {
            lastData = code.data;
            sendData(code.data);
          }
        }
      }
      requestAnimationFrame(tick);
    }
    setInterval(() => {
      outputMessage.style = 'color: black';
      outputMessage.innerText = 'Scan your QR Code';
    }, 7000);
    function sleep(timeMillis, callback) {
      var stop = Date.now();
      while (Date.now() < stop + timeMillis) {
        // This is intentional
      }
      callback();
    }
  </script>
</body>

</html>
