body {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  font-family: 'Ropa Sans', sans-serif;
  background-image: url('/images/background42.jpg');
  color: #eee;
}

a {
  color: #ffB7FF;
}

.qrarea {
  text-align: center;
}

.qrcode {
  width: 90%;
  max-width: 360px;
}

h1 {
  margin: 10px 0;
  font-size: 40px;
  color: #333;
  text-shadow: 2px 2px 5px #fff;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  width: 100%;
}

#output {
  margin-top: 20px;
  background: #eee;
  color: #333;
  font-size: xxx-large;
  padding: 10px;
  padding-bottom: 0;
}

#output div {
  padding-bottom: 10px;
  word-wrap: break-word;
}
